.loginForm {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

h2 {
    text-align: center;
}

.loginForm form {
    max-width: 80%;
    border-radius: 20px;
}

@media (max-width: 600px) {
    .title {
        font-size: 8vw;
        margin-bottom: 10% 0;
        /* Define um tamanho máximo de 3% da largura da viewport */
    }

}